@model IEnumerable<AutoWebShop.Models.CarShopModel>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResult</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GearBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturingYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fuel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GearBox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturingYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fuel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
